<!DOCTYPE html>
<html>
  <head>
    <title>Jokes Api!</title>
    <style>
    *{
    margin:0px;
    }
    .sub{
      display:block;
      text-align:center;
      color:white;
      background-color:#333;
    }
    h2, h3{
    text-align:center;
    }
    </style>
    <head>
      <body>
        <h2><%=joke.setup%></h2>
          <h3><%=joke.punchline%></h3>
          <div class="sub">
        <p>GOD BLESS YOU</p>
        <p>Made by Starship Code</p>
        </div>
      </body>
  <html>
